@model LoginViewModel

@{ 
    ViewBag.Title = "User Login";
}

<div class="row">
     <div class="col-md-12">
         <form method="post" class="form">
             <div asp-validation-summary="All" class="text-danger"></div>
             <h2 class="form-heading">Please sign in</h2>              
                 <label asp-for="Email" class="sr-only"></label>
                 <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                 <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                 <span asp-validation-for="Email" class="text-danger"></span>          
             
                 <label asp-for="Password" class="sr-only"></label>
                 <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                 <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                 <span asp-validation-for="Password" class="text-danger"></span>
            
             <div class="form-group">
                 <div class="checkbox">
                     <label asp-for="RememberMe">
                         <input type="checkbox">
                         @Html.DisplayNameFor(m => m.RememberMe)
                     </label>
                 </div>
             </div>
             <button class="btn btn-primary btn-block" type="submit">Log in</button>
         </form>
     </div>
</div>